<section class="ogan-list">
  <a href="/donations/{{id}}">
    <header>{{organs_donated}}, {{reason_donated}}</header>
  </a>

   <a href="/donations/{{id}}">
    <header>{{biofluids_donated}}, {{reason_donated}}</header>
  </a>
</section>