<section class="ogan-list">
  <a href="/donations/{{id}}">
    <header>{{organs_donated}}, {{reason_donated}}</header>
  </a>

   <a href="/donations/{{id}}">
    <header>{{biofluids_donated}}, {{reason_donated}}</header>
  </a>
</section>


<!-- Here, i made a class in CSS called "organ list" so that they can be arranged a certain way. I didnt mess with it too much but you can if youd like. afterwards, I called the model I wanted, in this case donations, then in double brackets I called what I wanted from
that model. Everything here in double brakcets is in the donations model. If you continue to try and add more information, just remember you may have to make more handlebars -->